<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Funds Transfer</title>
</head>
<body>
    <h1>Confirmation:</h1>
    <div action="results" method="post">
        <div>
            <h2>Your transfer of </h2>
            <h2 type="text"
            th:name="amount"
            th:id="amount"
            th:field="*{amount}"></h2>
            <h2> from </h2> 
            <h2 type="text"
            th:each="name"></h2> 
            <h2> to </h2>
            <h2 type="text"
            th:each="name"></h2> 
            <h2> is successful.</h2>
        </div>
        <div>
            Transaction id is <h2 type="text" th:name="transactionId"></h2>
        </div>
    </div>
</body>
</html>